@font-face {
    font-family: retro;
    src: url(thin_pixel-7.ttf);
}

body {
    background-color: darkolivegreen;
}

.debugger {
    display: flex;
    justify-content: left;
}

.window {
    padding: 0.4em;
    border-radius: 0.4em;
    border: 2px solid #000;
    background-color: darkslategrey;
}

.window-line {
    font-size: 1em;
    background-color: #000;
    color: lime;
    display: flex;
}

.debugger-instructions {
    width: 25em;
}

.debugger-registers {
    width: 15em;
}

.debugger-memoryDump {
    width: 15em;
}

.debugger-memoryDumpContent {
    max-height: 12em;
    overflow-y: scroll;
}

.debugger-instructions:first-child,
.debugger-instructions:last-child {
    border-radius: 0.4em;
}

.debugger-instructionLine {
    /*font-family: retro, serif;*/

}

.debugger-instructionLine__atPc {
    background-color: aqua;
    color: #000;
}

.debugger-bp {
    color: red;
    width: 1em;
    cursor: pointer;
}

.debugger-address {
    margin-right: 1em;
    width: 3em;
}

.debugger-hexabytes {
    margin-right: 1em;
    width: 5em;
}

.debugger-asm {
}

.debugger-register {
}

.debugger-registerName {
    margin-right: 1em;
    width: 2em;
}

.debugger-registerValue {
    width: 4em;
}

.debugger-windowTitle {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0.1em 0;
    text-shadow: 1px 1px 2px black;
}

.debugger-memoryLine {

}

.debugger-button {
    width: 6em;
    color: lime;
    background-color: black;
    text-align: center;
    border-radius: 0.2em;
    cursor: pointer;
    margin: 0.2em;
}

.debugger-button:hover {
    color:black;
    background-color:lime;
}

.action {
    cursor: pointer;
}

.debugger-address__breakpoint {
    flex:auto
}

.debugger-close-button {
    color:red;
}

.window-input {
    height: 1em;
    font-size: 1em;
    padding: 0;
    margin: 0;
    border: 0;
    width: 5em;
}